/*ШРИФТЫ*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans/firasans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-red: #EE3643;
  --basic-red-hover: #CA2C37;
  --basic-red-click: #BA2732;
  --basic-green: #63A63E;
  --basic-green-hover: #5FBB2D;
  --basic-green-click: #518534;
  --basic-grey: #3D546F;
  --basic-grey-click: #293449;
  --basic-grey-hover: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-neutral: #BDBDBD;
  --basic-background: #F1F5F7;
  --basic-light: #E7E7E7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-ylellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --font-inter: "PT Sans", "Arial", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey-click);
  background-color: var(--basic-white);
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-page {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--basic-grey-click);
  cursor: url("../images/cursor.svg"), auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo svg {
  display: block;
}

.logo[aria-current] {
  pointer-events: none;
}

/*КНОПКИ*/

.button {
  position: relative;
  display: inline-block;
  color: var(--basic-white);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  border: transparent;
  padding: 10px;
  cursor: url("../images/cursor.svg"), auto;
  transition: background-color 0.2s ease-in;
}

.button-buy {
  background-color: var(--basic-green);
}

.button-buy:hover {
  background-color: var(--basic-green-hover);
}

.button-buy:focus,
.button-buy:focus-visible {
  background-color: #3b6425;
  outline: none;
}

.button-buy:active {
  background-color: var(--basic-green-click);
}

.button-buy:disabled,
.button-buy-disabled {
  background-color: #A9A9A9;
  pointer-events: none;
}

.button-dark {
  background-color: var(--basic-red);
  padding: 11px;
}

.button-dark:hover {
  background-color: var(--basic-red-hover);
}

.button-dark:focus,
.button-dark:focus-visible {
  background-color: #9c1c25;
  outline: none;
}

.button-dark:active {
  background-color: var(--basic-red-click);
}

.button-dark:disabled,
.button-dark-disabled {
  background-color: #A9A9A9;
  pointer-events: none;
}

.button-favourites {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-green);
  color: var(--basic-grey-hover);
}

.button-favourites:hover {
  border: 2px solid var(--basic-grey);
  color: var(--basic-grey);
}

.button-favourites:focus,
.button-favourites:focus-visible {
  border: 2px solid var(--basic-grey-click);
  color: var(--basic-grey-click);
  outline: none;
}

.button-favourites:active {
  border: 2px solid var(--basic-greylight);
  color: var(--basic-greylight);
}

.button-favourites:disabled,
.button-favourites-disabled {
  border: 2px solid var(--basic-greylight);
  color: var(--basic-greylight);
  opacity: 0.7;
  pointer-events: none;
}

.button-filter {
  border: 2px solid #3D546F;
  background-color: var(--basic-white);
  color: var(--basic-grey-hover);
}

.button-filter:hover {
  border: 2px solid var(--basic-red);
  color: var(--basic-grey);
}

.button-filter:focus,
.button-filter:focus-visible {
  border: 2px solid var(--basic-red);
  color: var(--basic-red);
  outline: none;
}

.button-filter:active {
  border: 2px solid var(--basic-grey);
  color: var(--basic-grey);
  opacity: 0.7;
}

.button-filter:disabled,
.button-filter-disabled {
  border: 2px solid var(--basic-greylight);
  color: var(--basic-greylight);
  opacity: 0.7;
  pointer-events: none;
}

.button-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
  align-items: center;
  border-radius: 0;
  border: 1px solid #FFF;
  background: transparent;
  max-width: 180px;
}

.button-popular svg {
  fill: currentColor;
}

.button-popular:hover {
  border: 1px solid var(--basic-red);
  color: var(--basic-red);
}

.button-popular:focus,
.button-popular:focus-visible {
  border: 1px solid var(--basic-white);
  color: var(--basic-white);
  opacity: 0.5;
  outline: none;
}

.button-popular:active {
  border: 1px solid var(--basic-white);
  color: var(--basic-white);
  opacity: 0.7;
}

.button-filter-disabled {
  border: 1px solid var(--basic-greylight);
  color: var(--basic-greylight);
  opacity: 0.7;
  pointer-events: none;
}

/*ИНПУТЫ*/

.form-input {
  width: 100%;
  height: 40px;
  padding: 15px 13px 12px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey-click);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-greylight);
  border-radius: 2px;
}

.form-input::placeholder {
  color: var(--basic-neutral);
}

.form-input:hover {
  border: 1px solid var(--basic-green);
}

.form-input:focus,
.form-input:focus-visible {
  border: 1px solid var(--basic-green);
  box-shadow: 0 0 0 1px var(--special-ylellow);
  outline: none;
}

.form-input-error {
  border: 1px solid var(--basic-red);
}

.form-input-error:hover {
  border: 1px solid var(--basic-red);
  box-shadow: 0 0 0 1px var(--basic-red);
}

.form-input:disabled {
  border: 1px solid var(--basic-extra-light);
  background-color: var(--basic-background);
  color: #808080;
  pointer-events: none;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header {
  background-color: #F3F7F9;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  padding: 12px 0 14px;
}

/* Могу ошибаться, но на мой взгляд в макете представлен другой шрифт, не "PT Sans", хотя в описании указан он */

.header-title {
  margin: 0 0 0 1px;
  margin-right: auto;
  font-family: var(--font-inter);
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: var(--basic-red);
}

.header-address {
  color: #32425C;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.header-phone {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 3px;
}

.header-phone svg {
  fill: currentColor;
}

.header-phone:hover {
  color: var(--basic-red);
}

.header-phone:focus,
.header-phone:focus-visible {
  color: var(--basic-red-click);
  outline: none;
}

.header-phone:active {
  color: var(--basic-red-hover);
}

.header-phone-disabled {
  color: #A9A9A9;
  pointer-events: none;
}

/*НАВИГАЦИЯ*/

.navigation-wrapper {
  background-color: var(--basic-grey-click);
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navigation-logo {
  position: absolute;
  top: 0;
  width: 220px;
  height: 50px;
}

.navigation-search-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin: 0 0 0 220px;
}

.navigation-search-input {
  width: 716px;
  height: 45px;
  background-color: var(--basic-grey-click);
  padding: 13px 14px 11px 53.5px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center left 21px;
  background-size: 20px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.navigation-search-input::placeholder {
  color: var(--basic-white);
}

.navigation-search-input:not(:disabled):hover::-webkit-input-placeholder {
  color: var(--basic-greylight);
}

.navigation-search-input:focus::-webkit-input-placeholder,
.navigation-search-input:focus-visible::-webkit-input-placeholder {
  color: var(--basic-greylight);
}

.navigation-search-input:active::-webkit-input-placeholder {
  color: var(--basic-greylight);
}

.navigation-search-input:disabled::-webkit-input-placeholder {
  color: var(--basic-greylight);
  opacity: 0.5;
}

@-moz-document url-prefix() {
  .navigation-search-input:not(:disabled):hover::-moz-placeholder {
    color: var(--basic-greylight);
  }
}

@-moz-document url-prefix() {

  .navigation-search-input:focus::-moz-placeholder,
  .navigation-search-input:focus-visible::-moz-placeholder {
    color: var(--basic-greylight);
  }
}

@-moz-document url-prefix() {
  .navigation-search-input:active::-moz-placeholder {
    color: var(--basic-greylight);
  }
}

@-moz-document url-prefix() {
  .navigation-search-input:disabled::-moz-placeholder {
    color: var(--basic-greylight);
    opacity: 0.5;
  }
}

.navigation-search-input:hover {
  background-color: var(--basic-background);
  background-image: url("../images/search-dark.svg");
  border: none;
}

.navigation-search-input:focus,
.navigation-search-input:focus-visible {
  background-color: var(--basic-background);
  background-image: url("../images/search-dark.svg");
  box-shadow: none;
  border: none;
  outline: none;
}

.navigation-search-input:active {
  background-color: var(--basic-background);
  background-image: url("../images/search-dark.svg");
  border: none;
}

.navigation-search-input:disabled {
  background-color: rgba(128, 128, 128, 0.5);
  background-image: url("../images/search.svg");
  pointer-events: none;
}

.navigation-login-wrapper {
  margin: auto 0;
  position: relative;
}

.navigation-login-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 16px;
  padding: 0 5px 0 0;
  position: relative;
}

.navigation-login-item {
  display: block;
}

.navigation-login-item-exit svg {
  transform: rotate(180deg);
}

.navigation-login-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: var(--basic-white);
}

.navigation-login-link svg {
  fill: currentColor;
}

.navigation-login-link span {
  font-family: inherit;
  color: var(--basic-background)
}

.navigation-login-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation-user-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navigation-login-link .navigation-login-name,
.navigation-login-link .navigation-user-name {
  color: var(--basic-white);
}

.navigation-login-link:hover,
.navigation-login-link:hover .navigation-login-name,
.navigation-login-link:hover .navigation-user-name {
  color: var(--basic-red);
}

.navigation-login-link:focus,
.navigation-login-link:focus-visible,
.navigation-login-link:focus .navigation-login-name,
.navigation-login-link:focus-visible .navigation-login-name,
.navigation-login-link:focus .navigation-user-name,
.navigation-login-link:focus-visible .navigation-user-name {
  color: var(--basic-red-click);
  outline: none;
}

.navigation-login-link:active,
.navigation-login-link:active .navigation-login-name,
.navigation-login-link:active .navigation-user-name {
  color: var(--basic-red-hover);
}

.login-link-unauthorized {
  gap: 12px;
}

.dropdown {
  position: relative;
}

/*ВСПЛЫВАЮЩИЕ ОКНА*/

.dropdown-container {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;
  display: none;
  min-width: 360px;
  background-color: var(--basic-white);
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 22px 29px 33px 26px;
}

.dropdown:focus .dropdown-container,
.dropdown:focus-visible .dropdown-container,
.dropdown:active .dropdown-container,
.dropdown:focus-within .dropdown-container {
  display: block;
}

.dropdown-title {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 45px 5px;
}

.dropdown-input {
  width: 300px;
  margin: 0 0 7px 5px;
}

.dropdown-input::placeholder {
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
}

.dropdown-wrapper {
  margin: 2px 0 38px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
  align-items: center;
}

.dropdown-remember-input {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin: 0;
  appearance: none;
  background-color: transparent;
  background-size: 0;
  border: 2px solid var(--basic-grey-hover);
  border-radius: 2px;
  cursor: url("../images/cursor.svg"), auto;
}

.dropdown-remember-input:hover {
  opacity: 0.6;
}

.dropdown-remember-input:focus,
.dropdown-remember-input:focus-visible {
  outline: none;
  position: relative;
}

.dropdown-remember-input:focus::before,
.dropdown-remember-input:focus-visible::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--basic-red);
  outline-offset: 4px;
}

.dropdown-remember-input:active {
  opacity: 0.4;
}

.dropdown-remember-input:disabled {
  opacity: 0.2;
}

.dropdown-remember-input[type="checkbox"]:checked {
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center right 2px;
  background-size: 9.41px 7.12px;
}

.dropdown-remember-label {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0 0 0 13px;
}

.dropdown-remember-label:hover {
  opacity: 0.7;
}

.dropdown-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  margin: 5px 0 0 0;
}

.dropdown-link:hover {
  color: var(--basic-red);
  text-decoration: underline;
}

.dropdown-link:focus,
.dropdown-link:focus-visible {
  color: var(--basic-red-click);
  outline: none;
}

.dropdown-link:active {
  color: var(--basic-red-hover);
}

.dropdown-link-disabled {
  color: #A9A9A9;
  pointer-events: none;
}

.dropdown-wrapper-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.dropdown-button {
  min-width: 145px;
  min-height: 40px;
}

.dropdown-button-login {
  background-image: url("../images/svg/log-in.svg");
  background-repeat: no-repeat;
  background-position: center left 25px;
  background-size: 15px 15px;
  padding: 10px 10px 10px 30px;
}

.dropdown-button-favourites {
  margin-right: 10px;
  padding: 9px 10px 8px 11px;
}

.dropdown-button-close {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 20px;
  height: 20px;
  padding: 4px;
  background-color: transparent;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  cursor: url("../images/cursor.svg"), auto;
}

.dropdown-button-close::after,
.dropdown-button-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  background-color: #C4C4C4;
  transform: translate(-50%, -50%);
}

.dropdown-button-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown-button-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-button-close:hover {
  border-color: var(--basic-black);
}

.dropdown-button-close:hover::before,
.dropdown-button-close:hover::after {
  background-color: var(--basic-black);
}

.dropdown-button-close:focus,
.dropdown-button-close:focus-visible {
  border-color: var(--basic-red-click);
  outline: none;
}

.dropdown-button-close:focus::before,
.dropdown-button-close:focus-visible::before,
.dropdown-button-close:focus::after,
.dropdown-button-close:focus-visible::after {
  background-color: var(--basic-red-click);
}

.dropdown-button-close:active {
  border-color: var(--basic-red);
}

.dropdown-button-close:active::before,
.dropdown-button-close:active::after {
  background-color: var(--basic-red);
}

.dropdown-button-close:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.dropdown-user-container {
  top: 2px;
  right: -38px;
  padding: 22px 29px 33px 29px;
}

.dropdown-user-title {
  margin: 0 0 34px;
}

.dropdown-user-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 23px;
  align-items: start;
  margin-bottom: 25px;
}

.dropdown-user-link {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.dropdown-user-link:hover {
  color: var(--basic-red);
}

.dropdown-user-link:focus,
.dropdown-user-link:focus-visible {
  color: var(--basic-red-click);
  outline: none;
}

.dropdown-user-link:active {
  color: var(--basic-red-hover);
}

.dropdown-user-link-disabled {
  color: #A9A9A9;
  pointer-events: none;
}

.dropdown-user-button {
  padding: 9px 10px 8px 13px;
}


.navigation-wrapper-color {
  background-color: var(--basic-grey);
}

/* Увеличиваем размеры контейнера, чтобы меню выглядело единообразно */

.container-menu {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
}

.navigation-container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.navigation-link {
  display: block;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-white);
  padding: 19px 23px 27px 24px;
  letter-spacing: -0.05px;
}

/* Чтобы меню осталось на месте при сохранении размеров контейнера */

/* .navigation-link-main {
  padding-left: 0;
} */

.navigation-link-main {
  padding-left: 26px;
}

.navigation-link:hover {
  background-color: var(--basic-grey-hover);
  color: var(--basic-greylight);
}

.navigation-link:focus,
.navigation-link:focus-visible {
  background-color: var(--basic-grey-hover);
  color: var(--basic-red);
  outline: none;
}

.navigation-link:active {
  background-color: var(--basic-grey-hover);
  color: var(--basic-white);
  font-weight: 700;
}

.navigation-link-disabled {
  background-color: rgb(252, 252, 252, 0.3);
  opacity: 0.5;
  pointer-events: none;
}

.navigation-link-main:active {
  letter-spacing: -0.15px;
}

.navigation-link-company:active {
  letter-spacing: -0.22px;
}

.navigation-link-catalog:active {
  letter-spacing: -0.17px;
}

.navigation-link-specialoffers:active {
  letter-spacing: -0.15px;
}

.navigation-link-delivery:active {
  letter-spacing: -0.15px;
}

.navigation-link-contacts:active {
  letter-spacing: -0.35px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 14.5px;
  padding: 0 26px 0 0;
}

.navigation-user-login {
  gap: 17px;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-user-link {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 22px 11.5px 30px 11.5px;
  color: rgb(255, 255, 255, 0.6);
}

.navigation-user-link svg {
  fill: currentColor;
}

.navigation-user-link:hover {
  background-color: var(--basic-grey-hover);
  color: var(--basic-white);
}

.navigation-user-link:focus,
.navigation-user-link:focus-visible {
  background-color: var(--basic-grey-hover);
  color: var(--basic-red);
  outline: none;
}

.navigation-user-link:active {
  background-color: var(--basic-grey-hover);
  color: var(--basic-green);
}

.navigation-user-link-disabled {
  background-color: rgb(252, 252, 252, 0.3);
  opacity: 0.5;
  pointer-events: none;
}

.navigation-user-link-favourites {
  gap: 8px;
}

.navigation-user-favourites-number,
.navigation-user-basket-number {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.navigation-user-button {
  min-width: 170px;
  min-height: 42px;
  border-radius: 4px;
  padding: 12px;
  margin: 11px 0 17px;
}

/*ПОПУЛЯРНОЕ*/

.popular {
  padding: 52px 0 0;
}

.popular-item {
  width: 370px;
  min-height: 180px;
  padding: 20px 25px 33px;
  background-repeat: no-repeat;
  position: relative;
}

.popular-item-new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 70px;
  height: 70px;
  background-image: url("../images/new.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popular-title {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0 0 57px;
}

/*КАТЕГОРИИ ТОВАРОВ*/

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 0 27px;
}

.categories-item-materials {
  background-color: var(--special-ylellow);
  background-image: url("../images/materials.svg");
  background-position: center right 44px;
}

.categories-item-tool {
  background-color: var(--special-blue);
  background-image: url("../images/tool.svg");
  background-position: center right 38px;
}

/* Иконка серая, но при переполнении блока встает куда нужно */

/* .categories-item-technic {
  background-color: var(--special-lilac);
  background-image: url("../images/technic.svg");
  background-position: center right 38px;
} */

/*Перекрашивает иконку в белый цвет, но при переполнении нужно менять местоположение*/

.categories-item-technic {
  background-color: var(--special-lilac);
  position: relative;
}

.categories-item-technic::before {
  content: "";
  position: absolute;
  top: 31%;
  right: 10%;
  width: 85px;
  height: 65px;
  background-color: var(--basic-white);
  -webkit-mask-image: url("../images/technic.svg");
  mask-image: url("../images/technic.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.popular-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 29px;
}

.slider {
  grid-column: 1 / span 2;
  position: relative;
}

/*СЛАЙДЕР*/

.slider-item {
  width: 770px;
  height: 390px;
  background-color: var(--basic-grey);
}

.slider-drill {
  background-image: url("../images/slider-drill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-peperforator {
  background-image: url("../images/slider-peperforator.jpg");
  background-repeat: no-repeat;
  background-position: top -30px right -100px;
  background-size: 121%;
}

.slider-inactive {
  display: none;
}

.slider-content {
  position: absolute;
  padding: 50px;
}

.slider-title {
  font-family: "Fira Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
}

.slider-description {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-white);
  margin: 11px 0 0;
}

.slider-arrow-container {
  position: absolute;
  width: 730px;
  top: 46%;
  left: 20px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  color: var(--basic-white);
  background-color: rgba(41, 52, 73, 0.6);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: url("../images/cursor.svg"), auto;
}

.slider-arrow svg {
  fill: currentColor;
}

.slider-arrow-prev {
  transform: rotate(180deg);
}

.slider-arrow:hover {
  border: 2px solid var(--basic-white);
}

.slider-arrow:focus,
.slider-arrow:focus-visible {
  border: 2px solid var(--basic-black);
  outline: none;
}

.slider-arrow:active {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid var(--basic-white);
}

.slider-arrow:disabled {
  background-color: rgb(252, 252, 252, 0.3);
  border: 2px solid var(--basic-extra-light);
  opacity: 0.5;
  pointer-events: none;
}

.slider-bullets {
  position: absolute;
  bottom: 15px;
  right: 47.5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: end;
  gap: 8px;
  margin: 31px 0 0 0;
}

.slider-bullet {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgba(255, 209, 128, 0.8);
  cursor: url("../images/cursor.svg"), auto;
}

.slider-bullet-current {
  background-color: var(--basic-white);
  pointer-events: none;
}

.slider-bullet:hover {
  background-color: var(--special-ylellow);
}

.slider-bullet:focus,
.slider-bullet:focus-visible {
  background-color: var(--special-ylellow);
  border: 1px solid var(--basic-black);
  outline: none;
}

.slider-bullet:active {
  background-color: var(--special-ylellow);
  border: 1px solid var(--basic-white);
}

.slider-bullet:disabled {
  background-color: var(--basic-greylight);
  opacity: 0.8;
  pointer-events: none;
}

.slider-button-open-catalog {
  position: absolute;
  bottom: 10%;
  left: 6.7%;
  min-width: 195px;
  max-width: 665px;
  padding: 13px 13px 14px 13px;
  border-radius: 4px;
}

/*АКЦИИ*/

.stocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 29px;
}

.stocks-item {
  padding: 22px 25px 31px;
}

.stocks-item-discounts {
  background-color: var(--special-greenlight);
  background-image: url("../images/discounts.svg");
  background-position: center right 38px;
}

.stocks-item-delivery {
  background-color: var(--special-ylellow);
  background-image: url("../images/delivery.svg");
  background-position: center right 38px;
}

/*КАТАЛОГ*/

.catalog-products {
  padding: 50px 0 53px;
}

.catalog-container {
  display: flex;
  gap: 75px;
}

.catalog-products-title {
  text-align: start;
  margin: 0 0 26px;
}

/*ФИЛЬТР ТОВАРОВ*/

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-price-separator {
  margin: 0 7.5px 0 7.5px;
}

.filter-group-price {
  padding: 0 0 40px;
}

.filter-group-manufacturers {
  padding: 0 0 41px;
}

.filter-group-nutrition {
  padding: 0 0 43px;
}

.filter-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.filter-title-price {
  margin-bottom: 8px;
}

.filter-title-manufacturers {
  margin-bottom: 12px;
}

.filter-title-nutrition {
  margin: 0 0 14px 5px;
}

.filter-range {
  width: 220px;
  height: 40px;
  padding: 9px 5px 10px 10px;
  background-color: #F7F3EC;
  margin: 0 0 7px;
}

.filter-range-scale {
  position: relative;
  top: 50%;
  left: 51%;
  width: 172px;
  height: 2px;
  background-color: var(--basic-grey);
  transform: translate(-50%, -50%);
}

.filter-range-bar {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  background-color: var(--basic-green-hover);
  transform: translateY(-50%);
}

.filter-range-toggle {
  position: absolute;
  top: 50%;
  left: -10px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey);
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: url("../images/cursor.svg"), auto;
  transition: background-color 0.2s ease-in;
}

.filter-range-toggle:hover {
  background-color: var(--basic-green-click);
  border: 2px solid var(--basic-grey);
}

.filter-range-toggle:focus,
.filter-range-toggle:focus-visible {
  outline: none;
  position: relative;
}

.filter-range-toggle:focus::before,
.filter-range-toggle:focus-visible::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: 2px solid var(--basic-red);
  outline-offset: 4px;
}

.filter-range-toggle:active {
  background-color: var(--basic-green-hover);
  border: 2px solid var(--basic-grey);
}

.filter-range-toggle:disabled {
  background-color: var(--basic-neutral);
  border: 2px solid transparent;
  opacity: 0.7;
  pointer-events: none;
}

.toggle-max {
  left: 62px;
}

.filter-price-input {
  width: 95px;
  height: 40px;
  margin: 0;
  background-color: #F7F3EC;
  border: 2px solid transparent;
  text-align: center;
  color: var(--basic-grey-click);
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.filter-price-input:hover {
  border: 2px solid var(--basic-grey);
  border-radius: 2px;
}

.filter-price-input:focus,
.filter-price-input:focus-visible {
  border: 2px solid var(--basic-red);
  outline: none;
}

.filter-price-input:active {
  border: 2px solid rgba(61, 84, 111, 0.8);
  border-radius: 2px;
}

.filter-price-input:disabled {
  background-color: var(--basic-neutral);
  border: 2px solid transparent;
  opacity: 0.7;
  pointer-events: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.filter-price-max {
  padding-left: 5px;
}

.filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.filter-item-radio {
  margin-left: 4px;
}

.filter-item-radio:not(:last-child) {
  margin-bottom: 12px;
}

.filter-label {
  display: block;
  cursor: url("../images/cursor.svg"), auto;
  position: relative;
}

.filter-label-title {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  padding: 0 0 2px 11px;
}

.filter-label:hover {
  opacity: 1;
}

.filter-label:active {
  opacity: 0.8;
}

.filter-label:disabled {
  opacity: 0.4;
}

.filter-input {
  position: relative;
  top: 4px;
  width: 21px;
  height: 21px;
  margin: 0;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--basic-grey-hover);
  border-radius: 2px;
  cursor: url("../images/cursor.svg"), auto;
}

.filter-input-radio {
  width: 22px;
  height: 22px;
}

.filter-input:hover {
  opacity: 0.6;
}

.filter-input:focus,
.filter-input:focus-visible {
  outline: none;
  position: relative;
}

.filter-input:focus::before,
.filter-input:focus-visible::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--basic-red);
  outline-offset: 4px;
}

.filter-input[type="radio"]:focus::before,
.filter-input[type="radio"]:focus-visible::before {
  border-radius: 50%;
}

.filter-input:active {
  opacity: 0.4;
}

.filter-input:disabled {
  opacity: 0.2;
}

.filter-input[type="checkbox"]:checked {
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center right 3px;
  background-size: 9.41px 7.12px;
}

.filter-input[type="radio"] {
  border-radius: 50%;
}

.filter-input[type="radio"]:checked {
  background-image: url("../images/radio.svg");
  background-repeat: no-repeat;
  background-position: top 4px left 5px;
  background-size: 9px 9px;
}

.filter-button {
  min-width: 220px;
  min-height: 40px;
  padding: 11px 9px 9px 11px;
}

/*КАТАЛОГ ТОВАРОВ*/

.product-container {
  padding: 32px 0 0;
}

.product-sorting-container {
  padding: 0 0 31px 5px;
}

.product-sorting {
  width: 280px;
  min-height: 40px;
  padding: 8px 32px 6px 14px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 10px 7px;
  border: 1px solid var(--basic-grey);
  border-radius: 2px;
  cursor: url("../images/cursor.svg"), auto;
  -webkit-appearance: none;
  appearance: none;
}

.product-sorting:hover {
  border: 1px solid var(--basic-green);
}

.product-sorting:focus,
.product-sorting:focus-visible {
  border: 1px solid var(--basic-green);
  box-shadow: 0 0 0 1px var(--special-ylellow);
  background-image: url("../images/arrow-down-green.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 10px 7px;
  outline: none;
}

.product-sorting:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 33px;
  align-items: center;
  text-align: center;
}

.product-card-item {
  padding: 27px 27px 23px;
  position: relative;
}

.product-card-item:hover {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.15);
}

.product-card-new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 70px;
  height: 70px;
  background-image: url("../images/new.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-image {
  display: block;
  position: relative;
  width: 100%;
  height: 180px;
}

.product-card-image-button {
  display: none;
}

.product-card-button-buy {
  min-width: 135px;
  background-image: url("../images/basket-min.svg");
  background-repeat: no-repeat;
  background-position: center left 25px;
  background-size: 14px 14px;
  padding: 11px 11px 11px 33px;
  word-wrap: break-word;
}

.product-card-button-favourites {
  min-width: 135px;
  padding: 9px 10px 9px 13px;
  word-wrap: break-word;
}

.product-card-image:hover .product-card-image-button,
.product-card-image:active .product-card-image-button,
.product-card-active .product-card-image-button {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  background-color: rgba(255, 255, 255, 0.90);
  padding: 35px 45px 54px 36px;
}

.product-card-link-image:focus,
.product-card-link-image:focus-visible {
  opacity: 0.7;
  outline: none;
}

.product-card-title {
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-grey-click);
  margin: 14px 0 14px;
}

.product-card-link-title:focus,
.product-card-link-title:focus-visible {
  color: var(--basic-grey);
  opacity: 0.7;
  outline: none;
}

.product-card-title:hover {
  color: var(--basic-grey);
  opacity: 0.8;
}

.product-card-title:active {
  color: var(--basic-grey);
  opacity: 0.5;
}

.product-card-price {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 11px;
}

.product-card-old-price {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A9A9A9;
  margin-left: 77px;
  position: relative;
}

.product-card-old-price::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 60px;
  height: 1px;
  background-color: #A9A9A9;
  transform: translate(-50%, -50%);
}

.old-price-invisible {
  visibility: hidden;
}

.link-new-price {
  margin-left: 38px;
  position: relative;
}

.link-new-price::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -14px;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background-color: var(--basic-red);
  transform: rotate(-45deg);
  transition: background-color 0.2s ease-in;
}

.link-new-price:hover::after {
  background-color: var(--basic-red-hover);
}

.link-new-price:focus::after,
.link-new-price:focus-visible::after {
  background-color: #9c1c25;
  outline: none;
}

.link-new-price:active::after {
  background-color: var(--basic-red-click);
}

.link-new-price:disabled::after,
.link-new-price-disabled::after {
  background-color: #A9A9A9;
  pointer-events: none;
}

.product-card-new-price {
  padding-left: 18px;
  padding-right: 14px;
}

/*ПАГИНАЦИЯ*/

.pagination {
  padding: 32px 0 0;
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 4px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 45px;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 2px;
  background-color: var(--basic-grey);
  color: var(--basic-white);
}

.pagination-link:hover {
  background-color: var(--basic-grey-hover);
}

.pagination-link:focus,
.pagination-link:focus-visible {
  background-color: var(--basic-grey-click);
  outline: none;
}

.pagination-link:active {
  background-color: var(--basic-grey);
  opacity: 0.8;
}

.pagination-link-current {
  background-color: var(--basic-white);
  color: var(--basic-grey);
  pointer-events: none;
}

.pagination-link-disabled {
  background-color: #A9A9A9;
  pointer-events: none;
}

.pagination-button-more {
  min-width: 195px;
  min-height: 45px;
  padding: 14px 13px 13px;
}

/*СЕРВИСЫ*/

.service {
  background-color: #F4F7F9;
  padding: 53px 115px 53px;
}

.service-title {
  margin: 0 0 29px;
}

.service-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 64px;
  color: inherit;
  text-align: center;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-item {
  position: relative;
  padding: 161px 35px 50px 31px;
  background-color: var(--basic-white);
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.service-item-delivery::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 35px;
  width: 86.2px;
  height: 63px;
  background-color: var(--basic-red-hover);
  -webkit-mask-image: url("../images/delivery.svg");
  mask-image: url("../images/delivery.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.service-item-guarantee::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 35px;
  width: 85.5px;
  height: 76.5px;
  background-color: var(--basic-red-hover);
  -webkit-mask-image: url("../images/discounts.svg");
  mask-image: url("../images/discounts.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.service-item-credit::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 37px;
  width: 76.5px;
  height: 76.5px;
  background-color: var(--basic-red-hover);
  -webkit-mask-image: url("../images/materials.svg");
  mask-image: url("../images/materials.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.service-item-title {
  color: var(--basic-grey-hover);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 21px;
}

.service-item-description {
  color: var(--basic-black);
  margin: 0;
}

.service-item-description-guarantee {
  margin-left: 4px;
}

/*О КОМПАНИИ*/

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 170px;
  padding: 52px 0 49px;
}

.about-title {
  text-align: start;
  margin: 0 0 22px;
}

.about-description {
  color: var(--basic-grey-click);
  margin: 0 0 26px;
}

.about-button {
  min-width: 195px;
  min-height: 45px;
  margin: 25px 0 25px;
  padding: 13.5px 10px 13.5px 13px;
}

.contacts-description {
  margin: 0 0 31px;
}

.contacts-map {
  background-color: #E8ECEE;
  display: block;
  width: 500px;
  height: 347px;
  cursor: url("../images/cursor.svg"), auto;
}

.contacts-map:hover {
  opacity: 0.7;
}

.contacts-map:focus,
.contacts-map:focus-visible {
  outline: none;
  position: relative;
}

.contacts-map:focus::before,
.contacts-map:focus-visible::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--basic-red);
  opacity: 1;
}

.contacts-map:active {
  opacity: 0.5;
}

/*ПОДВАЛ*/

.footer-wrapper {
  background-color: var(--basic-grey-hover);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 0 0 33px;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 56px;
}

.footer-contacts-section {
  padding: 15px 0 21px;
}

.footer-contacts-address {
  color: #F3F7F9;
  margin: 6px 0 1px;
}

.footer-contacts-phone {
  color: #F3F7F9;
  margin: 0;
}

.footer-contacts-phone:hover {
  color: var(--basic-red);
}

.footer-contacts-phone:focus,
.footer-contacts-phone:focus-visible {
  color: var(--basic-red-click);
  outline: none;
}

.footer-contacts-phone:active {
  color: var(--basic-red-hover);
}

.footer-contacts-phone-disabled {
  color: #A9A9A9;
  pointer-events: none;
}

.footer-wrapper-color {
  background-color: var(--basic-grey-click);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.footer-social-link {
  display: block;
  width: 36px;
  height: 36px;
  cursor: url("../images/cursor.svg"), auto;
  color: rgba(255, 255, 255, 0.1);
}

.social-link-vsco {
  width: 33px;
  height: 33px;
}

.footer-social-link svg {
  fill: currentColor;
}

.footer-social-link:hover {
  color: var(--basic-grey-click);
}

.footer-social-link:focus,
.footer-social-link:focus-visible {
  outline: none;
  position: relative;
}

.footer-social-link:focus::before,
.footer-social-link:focus-visible::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--basic-red-hover);
  border-radius: 50%;
}

.footer-social-link:active {
  color: var(--basic-red);
}

.footer-social-link-disabled {
  color: #A9A9A9;
  opacity: 0.3;
  pointer-events: none;
}

.footer-mailing {
  text-align: end;
  padding: 15px 0 0;
}

.footer-mailing-title {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0 0 1px;
}

.mailing-title-offers {
  margin: 0 0 2px;
}

.footer-mailing-email {
  display: block;
  color: var(--special-yellowlight);
  margin: 0 0 29px;
}

.footer-mailing-email:hover {
  color: #FFBF47;
  text-decoration-line: underline;
}

.footer-mailing-email:focus,
.footer-mailing-email:focus-visible {
  color: var(--basic-red-click);
  text-decoration-line: underline;
  outline: none;
}

.footer-mailing-email:active {
  color: #FFBF47;
  opacity: 0.8;
  text-decoration-line: underline;
}

.footer-mailing-email-disabled {
  color: #A9A9A9;
  pointer-events: none;
}

.footer-mailing-form {
  display: flex;
  justify-content: end;
}

.mailing-form-input {
  min-width: 220px;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-radius: 2px 0 0 2px;
  padding: 10px 16px 12px 16px;
}

.footer-mailing-form-button {
  min-width: 40px;
  min-height: 40px;
  background-image: url("../images/svg/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border-radius: 0 2px 2px 0;
}

.footer-website {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 22px 0;
}

.footer-copyright {
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
}

.footer-htmlacademy-description {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
}

.footer-htmlacademy-name {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--special-yellowlight);
  margin: 0;
}

.footer-htmlacademy-name:hover {
  color: #FFBF47;
  text-decoration-line: underline;
}

.footer-htmlacademy-name:focus,
.footer-htmlacademy-name:focus-visible {
  color: var(--basic-red-click);
  text-decoration-line: underline;
  outline: none;
}

.footer-htmlacademy-name:active {
  color: #FFBF47;
  opacity: 0.8;
  text-decoration-line: underline;
}
