/*ШРИФТЫ*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("..fonts/ptsans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans/firasans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-red: #EE3643;
  --basic-red-click: #BA2732;
  --basic-red-hover: #CA2C37;
  --basic-green: #63A63E;
  --basic-green-hover: #5FBB2D;
  --basic-grey: #3D546F;
  --basic-grey-click: #293449;
  --basic-grey-hover: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-light: #E7E7E7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-ylellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --font-inter: "PT Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey-click);
  background-color: var(--basic-white);
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-page {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--basic-grey-click);
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo svg {
  display: block;
}

.logo[aria-current] {
  pointer-events: none;
}

/*КНОПКИ И ИНПУТЫ*/

.button {
  position: relative;
  display: inline-block;
  color: var(--basic-white);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header {
  background-color: #F3F7F9;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
  padding: 11px 0 13px;
}

.header-title {
  margin: 0;
  margin-right: auto;
  font-family: inherit;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-red);
}

.header-address {
  color: #32425C;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.header-phone {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
}

/*НАВИГАЦИЯ*/

.navigation {}

.navigation-wrapper {
  background-color: var(--basic-grey-click);
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  width: 220px;
  height: 50px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.navigation-link {
  color: var(--basic-white);
  font-family: inherit;
  line-height: 24px;
}

.navigation-login {
  color: var(--basic-background);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation-user {
  color: var(--basic-background);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.navigation-login-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
  padding: 0;
}

.dropdown-container {
  display: none;
}

.navigation-wrapper-color {
  background-color: var(--basic-grey);
}

.navigation-container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 27px;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;
}

/*ПОПУЛЯРНОЕ*/

.popular {
  padding: 52px 0 0;
}

.popular-item {
  width: 370px;
  min-height: 180px;
  padding: 20px 25px 33px;
  background-repeat: no-repeat;
}

.popular-title {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
}

/*КАТЕГОРИИ ТОВАРОВ*/

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 0 27px;
}

.categories-item-materials {
  background-color: var(--special-ylellow);
  background-image: url("../images/materials.svg");
  background-position: center right 44px;
}

.categories-item-tool {
  background-color: var(--special-blue);
  background-image: url("../images/tool.svg");
  background-position: center right 38px;
}

.categories-item-technic {
  background-color: var(--special-lilac);
  position: relative;
}

.categories-item-technic::before {
  content: "";
  position: absolute;
  top: 55px;
  right: 38px;
  width: 85px;
  height: 65px;
  background-color: var(--basic-white);
  -webkit-mask-image: url("../images/technic.svg");
  mask-image: url("../images/technic.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.popular-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 29px;
}

.slider {
  position: relative;
  width: 770px;
  height: 390px;
  grid-column: 1 / span 2;
}

.slider-item {
  width: 770px;
  height: 390px;
}

.slider-drill {
  background-image: url("../images/slider-drill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-peperforator {
  background-image: url("../images/slider-peperforator.jpg");
  background-repeat: no-repeat;
  background-position: top -30px right -100px;
  background-size: 121%;
}

.slider-inactive {
  display: none;
}

.slider-content {
  position: absolute;
  padding: 50px;
}

.slider-title {
  font-family: "Fira Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
}

.slider-description {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-white);
  margin: 10px 0 0;
}

.slider-arrow-container {
  position: absolute;
  width: 730px;
  top: 50%;
  left: 20px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  /* color: var(--basic-grey-click);
  fill: currentColor; */
}

.slider-arrow-prev {
  transform: rotate(180deg);
}

.slider-bullets {
  position: absolute;
  top: 92%;
  right: 46%;
}

.slider-button-open-catalog {
  position: absolute;
  top: 81%;
  right: 72%;
}

/*АКЦИИ*/

.stocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 29px;
}

.stocks-item-discounts {
  background-color: var(--special-greenlight);
  background-image: url("../images/discounts.svg");
  background-position: center right 38px;
}

.stocks-item-delivery {
  background-color: var(--special-ylellow);
  background-image: url("../images/delivery.svg");
  background-position: center right 38px;
}

/*КАТАЛОГ*/

.catalog-products {
  padding: 50px 0 53px;
}

.catalog-container {
  display: flex;
  gap: 79px
}

.catalog-products-title {
  text-align: start;
  margin: 0 0 26px;
}

/*ФИЛЬТР ТОВАРОВ*/

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-price-separator {
  margin: 0 7.5px 0 7.5px;
}

.filter-group-price {
  margin: 0 0 40px;
}

.filter-group-manufacturers {
  padding: 0 0 45px;
}

.filter-group-nutrition {
  padding: 0 0 45px;
}

.filter-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.filter-range-scale {
  background-color: #F7F3EC;
  margin: 0 0 7px;
}

.filter-price-input {
  width: 95px;
  height: 40px;
  margin: 0;
  background-color: #F7F3EC;
  border: transparent;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.filter-label-title {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
}

.filter-title-price {
  margin-bottom: 8px;
}

.filter-title-manufacturers {
  margin-bottom: 16px;
}

.filter-title-nutrition {
  margin-bottom: 18px;
}

.filter-item:not(:last-child) {
  margin-bottom: 19px;
}

/*КАТАЛОГ ТОВАРОВ*/

.products-container {
  padding: 32px 0 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px 29px;
  align-items: center;
  text-align: center;
}

.product-card-item {
  padding: 27px 27px 23px;
}

.product-card-price {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* не то перечеркивание, попробовать сделать через псевдоэлемент */

.product-card-old-price {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.old-price-invisible {
  visibility: hidden;
}

/*ПАГИНАЦИЯ*/

.pagination {
  padding: 32px 0 0;
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 45px;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  background-color: var(--basic-grey);
  border: 1px solid transparent;
  color: var(--basic-white);
}

/*СЕРВИСЫ*/

.service {
  background-color: #F4F7F9;
  padding: 52px 115px 53px;
}

.service-title {
  margin: 0 0 30px;
}

.service-description {
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 64px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-item {
  position: relative;
  padding: 160px 35px 50px 31px;
  background-color: var(--basic-white);
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.service-item-delivery::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 35px;
  width: 86.2px;
  height: 63px;
  background-color: var(--basic-red-hover);
  -webkit-mask-image: url("../images/delivery.svg");
  mask-image: url("../images/delivery.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.service-item-guarantee::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 35px;
  width: 85.5px;
  height: 76.5px;
  background-color: var(--basic-red-hover);
  -webkit-mask-image: url("../images/discounts.svg");
  mask-image: url("../images/discounts.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.service-item-credit::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 37px;
  width: 76.5px;
  height: 76.5px;
  background-color: var(--basic-red-hover);
  -webkit-mask-image: url("../images/materials.svg");
  mask-image: url("../images/materials.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.service-item-title {
  color: var(--basic-grey-hover);
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 21px;
}

.service-item-description {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.service-item-description-guarantee {
  margin-left: 4px;
}

/*О КОМПАНИИ*/

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 170px;
  padding: 52px 0 49px;
}

.about-title {
  text-align: start;
  margin: 0 0 23px;
}

.about-description {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-green-click);
  margin: 0 0 26px;
}

.about-button {
  color: #000000;
}

.contacts-description {
  margin: 0 0 29px;
}

.contacts-map {
  display: block;
  width: 500px;
  height: 347px;
}

.contacts-map:hover {
  opacity: 0.7;
}

/*ПОДВАЛ*/

.footer-wrapper {
  background-color: var(--basic-grey-hover);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 0 0 33px;
}

.footer-logo {
  width: 220px;
  height: 56px;
}

.footer-contacts-section {
  padding: 15px 0 21px;
}

.footer-contacts-address {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #F3F7F9;
  margin: 0;
}

.footer-contacts-phone {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #F3F7F9;
  margin: 0;
}

.footer-wrapper-color {
  background-color: var(--basic-grey-click);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.footer-social-link {
  display: block;
  width: 36px;
  height: 36px;
}

.social-link-vsco {
  width: 33px;
  height: 33px;
}

.footer-mailing {
  text-align: end;
  padding: 16px 0 0;
}

.footer-mailing-title {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
}

.footer-mailing-email {
  display: block;
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--special-yellowlight);
  margin: 0 0 29px;
}

.footer-website {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 21px 0;
}

.footer-copyright {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
}

.footer-htmlacademy-description {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
}

.footer-htmlacademy-name {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  color: var(--special-yellowlight);
  margin: 0;
}
