/*ШРИФТЫ*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("..fonts/ptsans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans/firasans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-grey-click: #293449;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-light: #E7E7E7;
  --basic-white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --basic-red-click: #BA2732;
  --basic-green-hover: #5FBB2D;
  --font-inter: "PT Sans", "Arial", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey-click);
  background-color: var(--basic-white);
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-page {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--basic-grey-click);
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo svg {
  display: block;
  width: 220px;
  height: 50px;
}

.logo[aria-current] {
  pointer-events: none;
}

/*КНОПКИ И ИНПУТЫ*/

.button {
  position: relative;
  display: inline-block;
  color: var(--basic-white);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header {
  background-color: #F3F7F9;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
  padding: 11px 0 13px;
}

.header-title {
  margin: 0;
  margin-right: auto;
  font-family: inherit;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-red);
}

.header-address {
  color: #32425C;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.header-phone {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
}

/*НАВИГАЦИЯ*/

.navigation {}

.navigation-wrapper {
  background-color: var(--basic-grey-click);
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.navigation-link {
  color: var(--basic-white);
  font-family: inherit;
  line-height: 24px;
}

.navigation-login {
  color: var(--basic-background);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation-user {
  color: var(--basic-background);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.navigation-login-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
  padding: 0;
}

.dropdown-container {
  display: none;
}

.navigation-wrapper-color {
  background-color: var(--basic-grey);
}

.navigation-container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 27px;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;
}

/*ПОПУЛЯРНОЕ*/

.popular {
  padding: 52px 0 50px;
}

.popular-item {
  width: 370px;
  min-height: 180px;
  padding: 20px 25px 33px;
}

.popular-title {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
}

/*КАТЕГОРИИ ТОВАРОВ*/

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 0 27px;
}

.categories-item-materials {
  background-color: var(--special-ylellow);
}

.categories-item-tool {
  background-color: var(--special-blue);
}

.categories-item-technic {
  background-color: var(--special-lilac);
}

.popular-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 29px;
}

.slider {
  position: relative;
  width: 770px;
  height: 390px;
  grid-column: 1 / span 2;
}

.slider-item {
  width: 770px;
  height: 390px;
}

.slider-drill {
  background-image: url("../images/slider-drill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-peperforator {
  background-image: url("../images/slider-peperforator.jpg");
  background-repeat: no-repeat;
  background-position: top -30px right -100px;
  background-size: 121%;
}

.slider-inactive {
  display: none;
}

.slider-content {
  position: absolute;
  padding: 50px;
}

.slider-title {
  font-family: "Fira Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
}

.slider-description {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-white);
  margin: 10px 0 0;
}

.slider-arrow-container {
  position: absolute;
  width: 730px;
  top: 50%;
  left: 20px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  /* color: var(--basic-grey-click);
  fill: currentColor; */
}

.slider-arrow-prev {
  transform: rotate(180deg);
}

.slider-bullets {
  position: absolute;
  top: 92%;
  right: 46%;
}

.slider-button-open-catalog {
  position: absolute;
  top: 81%;
  right: 72%;
}

/*АКЦИИ*/

.stocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 29px;
}

.stocks-item-discounts {
  background-color: var(--special-greenlight);
}

.stocks-item-delivery {
  background-color: var(--special-ylellow);
}
